<div class="form-outline container py-4" data-mdb-input-init>
  <form (ngSubmit)="onSubmit()">
    <input type="search" id="form1" class="form-control text-center" placeholder="Search Player" aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm" />
  </form>
</div>

<div class='container' *ngIf="player_data && player_data.length > 0">
  <div class="text-white text-center font-size-12 py-2">
    <ul class="list-unstyled">
      <li class="mb-2">
        <span class="text-white head-data">Player Name</span>
        <p class="sub-data py-1">{{ player_data[0].Name }}</p>
      </li>
      <li class="mb-2">
        <span class="text-white head-data">Guild Name</span>
        <p class="sub-data py-1">{{ player_data[0].GuildName }}</p>
      </li>
      <li class="mb-2">
        <span class="text-white head-data">Total Kill Fame</span>
        <p class="sub-data py-1">{{ player_data[0].KillFame | number:'1.0-0' }}</p>
      </li>
      <li class="mb-2">
        <span class="text-white head-data">Total Death Fame</span>
        <p class="sub-data py-1">{{ player_data[0].DeathFame | number:'1.0-0'}}</p>
      </li>
    </ul>

    <hr class="bg-light py-1">

    <div class="mb-2">
      <span class="head-data text-center">PVE Fame Data</span>
    </div>

    <div class="col-md-12 row-middle py-3 justify-content-center">
      <div class="col-md-4 text-center mr-1">
        <a class="text-white head-data">Gathering</a>
        <p class="sub-data">Fiber: {{ player_data[0].LifetimeStatistics.Gathering.Fiber.Total | number:'1.0-0' }}</p>
        <p class="sub-data">Hide: {{ player_data[0].LifetimeStatistics.Gathering.Hide.Total | number:'1.0-0' }}</p>
        <p class="sub-data">Ore: {{ player_data[0].LifetimeStatistics.Gathering.Ore.Total | number:'1.0-0' }}</p>
        <p class="sub-data">Rock: {{ player_data[0].LifetimeStatistics.Gathering.Rock.Total | number:'1.0-0' }}</p>
        <p class="sub-data">Wood: {{ player_data[0].LifetimeStatistics.Gathering.Wood.Total | number:'1.0-0' }}</p>
      </div>

      <div class="col-md-4 text-center">
        <a class="text-white head-data">Crafting/Farming/Fishing</a>
        <p class="sub-data">Crafting: {{ player_data[0].LifetimeStatistics.Crafting.Total | number:'1.0-0' }}</p>
        <p class="sub-data">Farming: {{ player_data[0].LifetimeStatistics.FarmingFame | number:'1.0-0' }}</p>
        <p class="sub-data">Fishing: {{ player_data[0].LifetimeStatistics.FishingFame | number:'1.0-0' }}</p>
      </div>

      <div class="col-md-4 text-center">
        <a class="text-white head-data">PvE</a>
        <p class="sub-data">Avalon: {{ player_data[0].LifetimeStatistics.PvE.Avalon | number:'1.0-0' }}</p>
        <p class="sub-data">Corrupted: {{ player_data[0].LifetimeStatistics.PvE.CorruptedDungeon | number:'1.0-0' }}</p>
        <p class="sub-data">Hell Gates: {{ player_data[0].LifetimeStatistics.PvE.Hellgate | number:'1.0-0' }}</p>
        <p class="sub-data">Mists: {{ player_data[0].LifetimeStatistics.PvE.Mists | number:'1.0-0' }}</p>
        <p class="sub-data">Outlands: {{ player_data[0].LifetimeStatistics.PvE.Outlands | number:'1.0-0' }}</p>
        <p class="sub-data">Royal: {{ player_data[0].LifetimeStatistics.PvE.Royal | number:'1.0-0' }}</p>
        <p class="sub-data">Total: {{ player_data[0].LifetimeStatistics.PvE.Total | number:'1.0-0' }}</p>
      </div>
    </div>
  </div>
</div>
