<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:black">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://render.albiononline.com/v1/destiny/ADVENTURER_ADEPT.png" height='100px'alt="">
    </a>
    <div class="text-light display-6">
      Doing You Dirty Marketplace
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-md-6 justify-content-end" id="navbarNav">
      <ul class="navbar-nav font-size-18">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Market Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Loudout Finder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Report Issues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact DYD</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
