<hr class="py-2 bg-light">
<div class="container">
  <div class="text-center text-light display-5">
    Features
  </div>
</div>

  <div class="container mt-5 text-white">
    <div class="row text-center">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="mb-2">Price Checker</li>
          <li class="mb-2">Weapon Viewer</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="mb-2">Equipment Prices By Town</li>
          <li class="mb-2">Loadout Creator</li>
        </ul>
      </div>
    </div>
  </div>
