<hr class="py-2 bg-light">

<div class="container">
  <!-- Features -->
  <div class="text-center text-light display-4 py-2">
    Features
  </div>
</div>

<!-- Feature Breadcrumbs -->
  <div class="container mt-5 text-white">
    <div class="row text-center">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="mb-2">
            <a class="text-white font-size-16" routerLink="/price">Price Checker</a>
            <p class="font-size-12 pt-2">Search a specific item's price. Displays price from each town if available.</p>
          </li>
          <li class="mb-2">
            <a class="text-white font-size-16" href="#">Weapon Viewer</a>
            <p class="font-size-12 pt-2">Check out your favorite weapons, and the prices for each town</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="mb-2">
            <a class="text-white font-size-16" href="#">Mount Viewer</a>
            <p class="font-size-12 pt-2">Quick list to check mount prices</p>
          </li>
          <li class="mb-2">
            <a class="text-white font-size-16" href="#">Create Loadout</a>
            <p class="font-size-12 pt-2">Create a specific loadout and check the total best price per town</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<hr class="py-2 bg-light">
<app-top-member></app-top-member>

<hr class="py-2 bg-light">
<app-player-search></app-player-search>
